@import '../../assets/style/variables.css';
@import '../../assets/style/mixin.css';

.banner-action{
    background-size: cover;
    background-position: left;
    font-family: var(--base-ff);
    margin-bottom: 40px;
    &__content{
       padding: 35px 40px;
       max-width: 380px;
    }
    &__content_big {
       max-width: 600px;
    }
    &__title{
        font-size: var(--fs-h5);
        line-height:  var(--lh-h5);
        text-transform: uppercase;
        color: var(--base-fc);
        margin-bottom: 5px;
    }
    &__desc{
        font-size: var(--base-fs);
        line-height: 24px;
        margin-bottom: 20px;
    }
    &_bg-dark{
        color: #fff;
        & .banner-action__title{
            color: #fff;
        }
    }
    &_position_main {
      margin-bottom: 20px;
    }
}
